<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StatisticAdopted.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47F36E891D2FE4B50036B950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F36EA21D2FE4B60036B950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F36EAD1D2FE4B60036B950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
